Binaries
DerivedDataCache
Intermediate
Saved
Content/Assets
Content/ThirdPerson
Content/__ExternalActors__
Content/__ExternalObjects__
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace